*{
    margin: 0;

}

body{
    font-family: "sono", sans-serif;
    font-size: small;
    background-color: #F8E8EE;
}


.container{
    /*border:1px solid black;*/
    display: flex;
    width:100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}

.flexbox1{
    display: flex;
    /*height: 100%;*/
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.div-regex-class{
    border: 1px solid red;
    width: 100%;
}

#div_regex-input{
    border: 0.5rem outset pink;
    /*outline: 0.5rem solid khaki;*/
    box-shadow: 0 0 0 0.5rem skyblue;
    outline-offset: 0.5rem;
    outline-offset: 0.5rem;
    border-radius: 12px;
    width: 50em;
    height: 8vh;
    white-space: pre-wrap;
    overflow-y: scroll;
    font-size: 15px;
    font-weight: bold;
}

#div_regex-input[contenteditable]:empty:before {
 content: attr(placeholder);
 color: gray;
 pointer-events: none;
 display: block;
}


.div-checkbox-flex{
    /*border: 1px solid black;*/
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    height: 3vh;
    margin-bottom: 4%;
}

.status-flexbox{
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 3vh;
}

.input{

}

.total-lines, .matched-lines, .unmatched-lines{
    width: 1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-basis: 10rem;
    /*border: 0.5px outset pink;*/
}

.yellow{
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: 2px;
    border: 1px outset black;
    background-color:#FFFBB1;
}

.red {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: 2px;
    border: 1px outset black;
    background-color:#FF7444;
}


#input_div_content{
     border: 0.5rem outset pink;
     /*outline: 0.5rem solid khaki;*/
     box-shadow: 0 0 0 0.5rem skyblue;
     outline-offset: 0.5rem;
     border-radius: 12px;
     width: 50em;
     height:53vh;

    display: flex;
    padding-left: 1px ; /* it will display cursor in the contenteditable div*/
    flex-direction: column;
    overflow-y: scroll;
    white-space: pre-wrap;

    font-size: 15px;

}

#input_div_content[contenteditable]:empty:before {
 content: attr(placeholder);
 color: gray;
 pointer-events: none;
 display: block;
}


.flexbox2{
    display: flex;
    /*height: 100%;*/
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.output{
    width: 80%;
    height: 75vh;
}

#output_div_content{
    border: 0.5rem outset pink;
    /*outline: 0.5rem solid khaki;*/
    box-shadow: 0 0 0 1rem skyblue;
    outline-offset: 0.5rem;
    border-radius: 12px;

    width: 50em;
    height: 98%;


    display: flex;
    padding-left: 1px ; /* it will display cursor in the contenteditable div*/
    flex-direction: column;
    overflow-y: scroll;
    white-space: pre-wrap;

    font-size: 15px;
    font-weight: bold;
}

.btn{
    border-radius: 1rem;
    height: 2.5rem;
    width: 7rem;
    font-family: "sono", sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

 .title {
    text-align: center;
    margin-bottom: 3%;
 }

.bigger-text{
    background-color: red;
    font-size:1rem;
}

.matched_item{
    margin-top:0px;
    margin-bottom: 3px;
    background-color:#FFFBB1;
}

.unmatched_item{
    margin-top:0px;
    margin-bottom: 3px;
    background-color:#FF7444;
}

footer{
    margin-top: 2%;
    text-align: center;
    clear: both;
}

@media (max-width: 1250px){

   .container{
    flex-direction: column;
    height: 100%;
}
